/* header{
    background-color: #4E4854;
} */

body{
    background-color: #F4F5F7;
}

.calender{
    background-color: white;
    /* width: 330px; */
    /* background: #fcfcfc;背景色 */
    padding: 10px 20px 10px 20px;/*ボックス内の余白*/
    border: solid 2px #4E4854;/*線の種類 太さ 色*/
}
.calender_main{
    display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

