<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <title>RelatedPopulation</title>
</head>


<body>
    <header class="calenderHeader">イベント情報まとめサイト</header>
    <main class="main_text">
        <div class="detail_blank">
            <img src="../static/img/S__94511114.jpg" alt="イベント情報" class="accessory">
            <img src="../static/img/QR_code.JPG" alt="QRcode" class="qr">
            <p class="title">『瀬戸内のハレの日』1000s個展</p>
            <p class="text">『おいりアクセサリー』に新作登場！
                「かがわ県産品コンクール」にて県知事賞（最優秀賞）を受賞したおいりアクセサリーの展示販売の他、新作のお披露目。10月10日は「おいりの日」！ コロナの自粛ムードが続く中、結婚式や七五三などのハレの日を迎える人を、おいりのようにカラフルに応援したいという企画展。香川で人気の貸衣装店『ウエディングボックスみつわ』の衣装展示やMI CORAZONオリジナルウェディンググッズコラボ企画を予定。</p>
            <p>日時：2021年10月9日(土)～22日(金)</p>
            <p>火曜日定休。作家在廊日は期間中の土日。</p>
            <p>12:00～17:00</p>
            <p>場所:香川県 高松市 Make Merry gallery</p>
            <p> 最寄り駅:瓦町駅(香川県), 栗林公園北口駅(香川県), 栗林駅(香川県), 片原町駅(香川県)</p>
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3294.4599316938065!2d134.04655581553675!3d34.33877088052898!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3553eb99e38eeecb%3A0x71b7131c864dee99!2z44Oc44OD44Kv44K544Ku44Oj44Op44Oq44O844O744Oh44Kk44Kv44Oh44Oq44O8!5e0!3m2!1sja!2sjp!4v1634410303424!5m2!1sja!2sjp" width="1000" height="550" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
        </div>
        
    </main> 

<footer id="footer">@event_site</footer>
</body>

</html>
