<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/index.css">
    <title>RelatedPopulation</title>
</head>



<body>
    <header class="calenderHeader">イベント情報まとめサイト</header>
    <main id="main">
    <div class="blank"></div>
    <div class="calender_main">
        <div class="calender">
            <img src="" alt="イベント情報">
            <p class="event_date" >2021/10/16 </p>
            <p class="event_title" >aaa </p>
            <p class="event_detail" >bbbb </p>
        </div>
    
        <div class="calender">
            <img src="" alt="イベント情報">
            <p class="event_date" >2021/10/17 </p>
            <p class="event_title" >aaa </p>
            <p class="event_detail" >bbbb </p>
        </div>
  
        <div class="calender">
            <img src="" alt="イベント情報">
            <p class="event_date" >2021/10/18 </p>
            <p class="event_title" >aaa </p>
            <p class="event_detail" >bbbb </p>
        </div>
   
        <div class="calender">
            <img src="" alt="イベント情報">
            <div class="event_date" >2021/10/19 </div>
            <div class="event_title" >aaa </div>
            <div class="event_detail" >bbbb </div>
        </div>
   
        <div class="calender">
            <img src="" alt="イベント情報">
            <div class="event_date" >2021/10/20 </div>
            <div class="event_title" >aaa </div>
            <div class="event_detail" >bbbb </div>
        </div>
   
        <div class="calender">
            <img src="" alt="イベント情報">
            <div class="event_date" >2021/10/21 </div>
            <div class="event_title" >aaa </div>
            <div class="event_detail" >bbbb </div>
        </div>
    </div>
</main>


<footer id="footer">@event_site</footer>
     
</body>
</html>