<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RelatedPopulation</title>
</head>
<body>
    <header class="calenderHeader"></header>
        <div class="calender">
            <ul class="event_date" >2021/10/16 </ul>
            <ul class="event_title" >aaa </ul>
            <ul class="event_detail" >bbbb </ul>
        </div>
        <div class="calender">
            <ul class="event_date" >2021/10/17 </ul>
            <ul class="event_title" >aaa </ul>
            <ul class="event_detail" >bbbb </ul>
        </div>
        <div class="calender">
            <ul class="event_date" >2021/10/18 </ul>
            <ul class="event_title" >aaa </ul>
            <ul class="event_detail" >bbbb </ul>
        </div>
        <div class="calender">
            <ul class="event_date" >2021/10/19 </ul>
            <ul class="event_title" >aaa </ul>
            <ul class="event_detail" >bbbb </ul>
        </div>
        <div class="calender">
            <ul class="event_date" >2021/10/20 </ul>
            <ul class="event_title" >aaa </ul>
            <ul class="event_detail" >bbbb </ul>
        </div>
        <div class="calender">
            <ul class="event_date" >2021/10/21 </ul>
            <ul class="event_title" >aaa </ul>
            <ul class="event_detail" >bbbb </ul>
        </div>
</body>
</html>